
.welcome-page {
  height: 100vh;
  position: relative;
}

.description {
  padding: 8px;
  text-align: center;
  margin-bottom: 40px;
}

.description p {
  font-size: 18px;
  line-height: 24px;
}

.step {
  text-align: center;
  margin-bottom: 40px;
}

.step h2 {
  font-size: 24px;
  margin: 8px;
}
.next-button {
  display: inline-block;
  position: absolute;
  right: 16px;
  bottom: 68px;
}